# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.iml

# IDE
.idea/
.vscode/
*.swp

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/build/

# macOS
macos/Flutter/ephemeral/